.scrollToTop {
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--accent-pantone);
  color: (var(--background));
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;

  transition: opacity 0.4s ease, transform 0.4s ease;

  &:hover {
    opacity: 1;
    transform: translateY(-2px);
    pointer-events: auto;
  }
}

.visible {
  opacity: 0.8;
  transform: translateY(0);
  pointer-events: auto;
}
