.container {
  padding: 4rem 2rem;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-base);
  color: #2e2e2e;

  @media (max-width: 590px) {
    padding: 4rem 10px;
  }
}

.name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;
  padding: 0;

  @media (max-width: 590px) {
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    text-align: left;

    @media (max-width: 590px) {
      font-size: 1.4rem;
      width: auto;
    }
  }
}

.icon {
  color: #8a7f5b;
  flex-shrink: 0;
  font-size: 1.1rem;
}

.note {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: #555;

  @media (max-width: 590px) {
    font-size: 1.6rem;
  }

  .bold {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;

    @media (max-width: 590px) {
      font-size: 1.6rem;
    }
  }
}

.messengerPrompt {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 40px;

  @media (max-width: 590px) {
    flex-direction: column;
    gap: 20px;
    padding-inline: 10px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #8a7f5b;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  overflow: hidden;
  z-index: 1;

  @media (max-width: 590px) {
    height: 56px;
    justify-content: center;
  }

  &:hover {
    background-color: #6e654a;
  }

  span,
  svg {
    position: relative;
    z-index: 2;
  }

  .code_rain {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  &:hover .code_rain {
    opacity: 1;
    animation: rain 1s linear infinite;
  }
}

.matrix .code_rain {
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.3) 50%,
    rgba(0, 255, 0, 0) 100%
  );
}

.telegram .code_rain {
  background: linear-gradient(
    180deg,
    rgba(0, 123, 255, 0) 0%,
    rgba(0, 123, 255, 0.3) 50%,
    rgba(0, 123, 255, 0) 100%
  );
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.link {
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent);
  }
}
