@use "palette" as *;

:root[data-theme="dark"] {
  --background: #{$gray-900};
  --foreground: #{$gray-100};
  --border-color: #{$gray-800};
  --accent: #{$accent};
  --error: #{$error};
  --success: #{$success};
}
